* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}


.footerLogo img {
    margin-left: 2rem;
    height: 90px;
}

footer {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    width: 100%;
    text-align: start;
    padding: .5rem 0.5rem;
    color: black;
}

footer p {
    margin: 5px;
    margin-left: 1rem;
    font-size: .8rem;
}

header {
    padding: 5rem 2rem 5rem 2rem;
}

.topButton {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

header a {
    margin: 2rem;
    text-decoration: none;
    border: 3px #8bd8bd solid;
    color: #8bd8bd;
    font-size: 1.2rem;
    padding: 1.1rem;
    transition: 0.5s;
}

header a:hover {
    background-color: whitesmoke;
    transition-duration: 0.4s;
}

.textContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-weight: bold;
    color: black;
}
 
#bg1 {
    color: black;
}

#bg1 a img {
    width: 100%;
    height: auto;
}

.textBox {
    max-width: 70%;
}


h1 {
    padding-top: 100px;
}
h2 {
    text-align: center;
}

.green{
    color: #8bd8bd;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0.1px black solid;
} 

.logo img {
    margin-left: 2rem;
    height: 90px;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: #8bd8bd;
    padding: 1rem;
    display: block;
    font-size: 2rem;
    transition: 0.5s;
}

.navbar li a:hover {
    background-color: whitesmoke;
}

.menu {
    position: absolute;
    right: 2rem;
    top: 28.5px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 36px;
    height: 26px;
}

.bar {
    height: 6px;
    width: 100%;
    background-color: #8bd8bd;
    border-radius: 10px;
}

/* palevelut */

#services {
    overflow: hidden;
    width: 100%;
    align-items: center;
    background-color: whitesmoke;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
}

#serviceanchor p {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.serviceBoxes {
    display: flex;
    justify-content: space-evenly;
}


.service p {
    text-align: center;
}

.service {
    max-width: 250px;
    font-size: .8rem;
}

.service img {
    width: 10rem; 
    height: auto;
}

/* yhteystiedot */

#contact {
    padding-top: 2.5rem;
    width: 100%;
    background-image: url(../media/pictures/contactbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#contactBoxes {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding-bottom: 10rem;
    font-size: .8rem;
    font-weight: bold;
}


#contactBoxes a img {
 max-width: 175px;
 max-height: 100%;
}


/*Media queries*/


@media only screen and (max-width: 550px){
    .contact-box img {
        width: 75%; 
        height: auto;
    }

    #whatsappLogo a img {
        width: 60%;
        height: auto;
    }

    h1 {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 350px) {
    h1 {
        font-size: .8rem;
    }

    header a {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        font-size: .7rem;
    }
    footer {
        flex-direction: column;
    }
    
}


@media only screen and (max-width: 600px) {
    #contactBoxes {
        flex-direction: column;
    }

    .serviceBoxes {
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 175px) {
    header a {
        font-size: .4rem;
    }
}

@media (max-width: 2000px) {
    .menu {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

    .navbar ul {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
